contextily==1.7.1
geopandas==1.1.4
haversine==2.9.0
herbie==1.0b2
matplotlib==3.11.2
networkx==3.6.1
numpy==2.4.6
ortools==9.15.6755
osmnx==2.1.1
pandas==3.0.5
Pillow==12.3.0
pymap3d==3.2.0
pyproj==3.7.2
rtree==1.4.1
Shapely==2.1.2
transformers==5.17.0
xarray==2026.7.0
accelerate
PyQt5
openai=3.14.1
